@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CatchEye';
  src: url('/fonts/Catchye.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
